<?xml version="1.0" encoding="utf-8"?>
<manifest package="fr.drochon.christian.taaroaa"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--Permission de lire dans la firebase storage-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/logo1"
        android:label=""
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".controller.PasswordActivity">
        </activity>
        <activity
            android:name=".controller.SummaryActivity">
        </activity>
        <activity android:name=".auth.AccountCreateActivity">
        </activity>
        <activity android:name=".course.CoursesManagementActivity">
        </activity>
        <activity android:name=".course.CoursesSupervisorsActivity">
        </activity>
        <activity android:name=".course.CoursesPupilsActivity">
        </activity>
        <activity android:name=".covoiturage.CovoiturageAccueilActivity">
        </activity>
        <activity android:name=".covoiturage.CovoituragePassagersActivity">
        </activity>
        <activity android:name=".covoiturage.CovoiturageConducteursActivity">
        </activity>
        <activity android:name=".covoiturage.CovoiturageVehiclesActivity">
        </activity>
        <activity android:name=".auth.AccountModificationActivity">
        </activity>
        <activity android:name=".auth.SearchUserActivity">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable">
            </meta-data>
        </activity>
        <!-- NOTIFICATION SERVICE -->
       <!-- <service
            android:name=".notifications.NotificationsService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>-->
        <service
            android:name=".notifications.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <service
            android:name=".notifications.SendNotification">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"
                    />
            </intent-filter>
        </service>
        <service
            android:name=".notifications.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>


        <receiver android:name=".notifications.TimeAlarmCovoiturageAller" />
        <receiver android:name=".notifications.TimeAlarmCovoiturageRetour" />
        <receiver android:name=".notifications.TimeAlarmCovoiturageSuppression" />
        <receiver android:name=".notifications.TimeAlarmCourses" />
    </application>

</manifest>